doctype html
html
	head
		meta(charset="utf-8")
		link(rel='stylesheet', href='//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
		script(src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js")
		link(rel="shortcut icon" type="image/jpg" href="/w.jpg")
		title E-Blog
	body
		include components/nav-setting
		include components/nav
		include components/notification
		button#sidebarButton.ui.button Sidebar

script.
	$('#sidebarButton').click(() => {
		$('.left.sidebar')
			.sidebar('setting', 'transition', 'overlay')
			.sidebar('toggle');
	})